/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #47ade09d;
    height: 100vh;
}

.logo img {
    max-height: 80px;
    align-self: right;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #396adb;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.btn-contato button:hover {
    box-shadow: 0px 0px 8px #171f32;
    transform: scale(1.05);
}

h2.titulo {
    color: #2e2e2e;
    font-size: 28px;
    text-align: center;
}

button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #171f32;
    transform: scale(1.05);
}

/* ESTILO CABEÇALHO */
header {
    padding: 55px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px;
    border-radius: 15px;
    background-color: #39a8e0e8;
}

header a {
    color: #2e2e2e;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header  a:hover {
    color: #FFF;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 30px;
}

 


ul.menu,
.menu li,
.menu a {
    margin: 0;
    padding: 5;
    list-style: none;
    text-decoration: none;
}

ul.menu ul {
    position: absolute;
    display: none;
    box-shadow: 3px 3px 2px #333;
}

/* Configurações nivel 1*/
ul.menu {
    float: left;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
    border-radius: 5px;
    padding: 0 5px;
}

.menu li {
    float: left;
    width: auto;
    position: relative;
}

.menu li a {
    display: block;
    padding: 0 10px;
    line-height: 40px;
    height: 40px;
    float: left;
    transition: all 0.2s linear;
}

/* Configurações nivel 2*/
.menu li:hover>ul.submenu-1 {
    display: block;
    top: 40px;
    
    padding: 0px;
    width: 160px;
    border-radius: 0 0 5px 5px;
}

.menu ul.submenu-1 a {
    width: 120px;
    padding: 0 2px;
    border-radius: 5px;
}

.submenu-1 {
    background: #39a8e0e8;
}

.submenu-1 a {
    color: #000;
}


/* ESTILO TOPO DO SITE */
section.topo-site {
    padding: 110px 4%;
}

section.topo-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-site h1 {
    font-size: 48px;
    font-weight: 600;
    color: #2e2e2e;
    line-height: 50px;
}

.topo-site .txt-topo-site h1 span {
    color: #171f32;
    font-size: 80px;
}

.topo-site .txt-topo-site p {
    color: #2e2e2e;
    font-size: 20px;
    margin: 40px 0px;
}

.img-topo-site img {
    max-width: 300px;
}

.topo-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}


@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 20px;
    }
}

/* ESTILO EVENTOS */

section.eventos {
    padding: 110px 4%;
}

section.eventos .flex {
    gap: 60px;
}

.eventos .eventos-box {
    color: #2e2e2e;
    padding: 40px;
    border: 2px solid #345091;
    border-radius: 15px;
    margin-top: 45px;
    transition: .2s;
}

.eventos .eventos-box:hover {
    box-shadow: 0px 0px 20px #171f32b6;
    transform: scale(1.05);
}

.eventos .eventos-box img {
    max-height: 200px;
}

.eventos .eventos-box h3 {
    font-size: 28px;
    color: #000;
    margin: 15px 0px;

}

/* ESTILO SOBRE */

section.sobre {
    padding: 110px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre.txt-sobre {
    color: #2e2e2e;
}

.sobre .txt-sobre h2 {
    font-size: 45px;
    color: #2e2e2e;
    line-height: 40px;
    margin-bottom: 30px;
}

h2 span {
    color: #345091;
    font-size: 28px;
}

.sobre .txt-sobre p {
    margin: 20px 0px;
    text-align: justify;

}

.img-sobre img {
    max-height: 400px;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #396adb;
    font-size: 25px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
    text-decoration-style: none;
}

/* ESTILO TURMAS */

section.turmas {
    padding: 110px 4%;
    box-shadow: 0 0 40px 10px #171f322a;
}

section.turmas .flex {
    justify-content: space-around;
    margin-top: 60px;
    ;
}

.img-turma {
    width: 360px;
    height: 460px;
    background-color: #396adb;
    background-size: cover;
    background-position: 0% 100%;
    transition: 1.5s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-turma:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #FFF;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;

}

/* ESTILO FORMULARIO DE CONTATO */

section.formulario {
    padding: 110px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;

}

form input,
form textarea {
    width: 100%;
    background-color: #3d3d3d;
    border: none;
    outline: none;
    padding: 20px 15px;
    border-radius: 15px;
    color: #FFF;
    font-size: 18px;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input[type=submit] {
    width: 120px;
    background-color: #396adb;
    color: #FFF;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* ESTILO RODAPE */

footer {
    padding: 120px 4%;
    box-shadow: 0 0 40px 10px #171f322a;

}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;

}

.borda {
    border-top: 2px solid #345091;
}

footer img {
    max-height: 80px;
}

footer .line-footer p i {
    color: #000;
}

footer .line-footer p a {
    text-decoration: none;
    transition: .2s;
}

footer .line-footer p a:hover {
    text-decoration: underline;
}





/* ESTILO SOBRE */

nav .menu span{
    color: #FFF;
}

section.equipe{
   justify-content: space-between;
   gap: 100px;
}
   
section.equipe img{
    max-width: 300px;
}
